.button{
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: .5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color:black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', serif;
  font-weight: bold;
  border:none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover{
    background-color: #fff;
    color: #000000;
    border: 1px solid black;
  }

  &.inverted {
    background: #fff;
    color: #000;
    border: 1px solid black;

    &:hover{
      background: #000;
      color: #fff;
      border:none;
    }
  }
}